.background{
    width: 100%;
    height: 500px;
    background: silver;
}

.container-form{
    margin-top: 55px;
    padding: 40px 100px;
    border-radius: 10px;
}

.position{
    position: fixed;
    width: 100%;
}

